@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-Regular.ttf') format('truetype');
  /* Add additional src lines for other font weights if necessary */
  font-weight: normal;
  font-style: normal;
}

/* If you have other font weights and styles, add them similarly using different font-family names */
@font-face {
  font-family: 'Comfortaa Bold';
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {

  input,
  select,
  textarea {
    color: grey !important;
  }

  .MuiFormLabel-root {
    color: lightgray !important;
  }

  .MuiFormLabel-root.Mui-focused {
    color: #1976d2 !important;
  }

  .MuiFormLabel-root.Mui-error {
    color: #d32f2f !important;
  }

  .MuiInputBase-root fieldset {
    border-color: lightgray !important;
  }

  .MuiInputBase-root.Mui-focused fieldset {
    border-color: #1976d2 !important;
  }

  .MuiInputBase-root.Mui-error fieldset {
    border-color: #d32f2f !important;
  }
}